.dashboard {
  height: 100vh;
  width: 98vw;
  background-color: white;
  color: black;
  display: flex;
  flex-direction: column;
  border: 3px solid black;

}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-bottom: 3px solid black;
  padding: 10px 20px;
}

.header-left {
  display: flex;
  align-items: center;
  gap: 200px;
}

.header h1 {
  color: black;
}

.header-right {
  display: flex;
  align-items: center;
  gap: 15px;

}

.menu-btn {
  border: 2px solid black;
  background: transparent;
  color: black;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.menu-btn:hover {
  background: white;
  color: black;
}

.exit-btn {
  border: 2px solid black;
  background: transparent;
  color: black;
  padding: 5px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
}

.exit-btn:hover {
  background: white;
  color: black;
}

.body {
  flex: 1;
  display: flex;
}

.sidebar {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 10px;
  background-color: white;
  border-right: 1px solid black; 
  padding: 20px;

}

.side-btn {
  border: 2px solid black;
  background: transparent;
  color: black;
  padding: 10px;
  border-radius: 5px;
  cursor: pointer;
  text-align: left;
  transition: 0.3s;
}

.side-btn:hover {
  background: black;
  color: white;
}

.content {
  flex: 1;
  position: relative;
  margin-top: -105px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-left: 3px solid black; 

}

.create-btn {
  border: 2px solid black;
  color: black;
  padding: 8px 20px;
  border-radius: 5px;
  cursor: pointer;
  transition: 0.3s;
  margin-top: -450px;
  margin-right: -1000px;
}

.create-btn:hover {
  background: black;
  color: black;
}

.profile-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 15px rgba(255, 0, 0, 0.5);
}


